:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --white: #FFFFFF;
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --mobile: 428px;
    --tablet: 768px;
    --desktop: 1158px;
}

body {
    padding-top: 76px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--text);
}
img {
    display: block;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* header */
.container-header {
    display: flex;
    align-items: center;
    max-width: 1158px;
    min-height: 76px;
    padding: 0 15px;
    margin: 0 auto;
}
.page-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--white);
    border-bottom: 1px solid var(--accent);
}
.navigation {
    display: flex;
}
.site-nav {
    display: flex;
    margin-left: 76px;
}
.site-nav .item:not(:last-child) {
    margin-right: 40px;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
}
.link {
    text-decoration: none;
    transition: color var(--transition-duration) var(--transition-timing-function);
}
.link:is(:hover,:focus) {
    color: var(--pressed-state);
}
.logo-studio {
    color: var(--dark);
}
.list-item {
    display: block;
    padding: 24px 0; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.underline {
    position: relative;
}
.underline::after {
    content: "";
    position: absolute;
    left: 0;
    top: 72px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--pressed-state);
    border-radius: 2px;
}
.address {
    display: flex;
    margin-left: auto;
    font-style: normal;
}
.address-list {
    display: flex;
}
.address-list .item {
    font-weight: 400;
    font-size: 16px;
    padding: 24px 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
    transition: color var(--transition-duration) var(--transition-timing-function);
}
.address-list .address-item:first-child {
    margin-right: 40px;
}
.address-list .item:is(:hover,:focus) {
    color: var(--pressed-state);
}
/* main studio */
/* section 1 */
.overlay {
    height: 600px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--dark);
}
.hero {
    text-align: center;
    padding: 188px 0;
    margin: 0;
    max-width: 2560px;
}
.hero-heading {
    width: 496px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white);
}
.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    color: var(--white);
    background-color: var(--primary-brand);
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.hero-button:is(:hover,:focus) {
    background-color: var(--pressed-state);
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    transition: opacity var(--transition-duration) var(--transition-timing-function);
}
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 408px;
    min-height: 576px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px; 
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-duration) var(--transition-timing-function);
}
.close-button {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 32px;
    top: 32px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--accent);
    transition: background-color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
}
.close-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close-button:hover {
    fill: var(--white);
    background-color: var(--pressed-state);
}
.form {
    width: 408px;
    margin-left: auto;
    margin-right: auto;
    padding: 72px 24px 24px 24px;
}
.form-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark);
    margin-top: 0;
    margin-bottom: 16px;
}
.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
}
.form-field:not(:first-of-type) {
    margin-top: 8px;
}
.form-field label {
    margin-bottom: 4px;
    margin-left: 0;
    margin-right: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;    
    letter-spacing: 0.04em;    
    color: var(--subtle-text);
}
.form-input {
    margin: 0;
    padding: 11px 16px 11px 38px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border var(--transition-duration) var(--transition-timing-function);
}
.form-input:focus {
    border: 1px solid var(--primary-brand);
}
.form-field textarea {
    margin: 0;
    padding: 11px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;    
    letter-spacing: 0.01em;    
    color: var(--subtle-text);
    transition: border var(--transition-duration) var(--transition-timing-function);
}
.form-field textarea:is(:hover,:focus) {
    border: 1px solid var(--primary-brand);
}
.form-field textarea::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}
.form-icon {
    position: absolute;
    bottom: 11px;
    left: 16px;
    display: inline-block;
    transition: fill var(--transition-duration) var(--transition-timing-function);
}
.form-input:focus + .form-icon {
    fill: var(--primary-brand);
}
.policy {
    display: flex;
    margin-top: 16px;
}
.checkbox-label {
    display: flex;
}
.checkbox-text {
    margin-left: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
}
.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}
.checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: var(--white);
    border: 1.25px solid var(--dark);
    border-radius: 2px;
}
.checkbox:checked + .checkbox-icon {
    border-color: var(--pressed-state);
    background-color: var(--pressed-state);
    background-image: url("../images/click.svg");
    background-size: contain;
    background-origin: border-box;
}
.submit-button {
    margin-top: 24px;
    padding: 16px 32px;
    cursor: pointer;
    background-color: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.submit-button:hover {
    background-color: var(--pressed-state);
}
.button-text {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 105px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;    
    letter-spacing: 0.04em;
    color: var(--white);
}
.about-list {
    display: flex;
}
.about-list .item {
    width: 264px;
}
.about-list .item:not(:last-child) {
    margin-right: 24px;
}
.about-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 8px; 
    color: var(--dark);
}
.about-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
    color: var(--text);
}
.about-icon {
    width: 64px;
    height: 64px;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: var(--light);
    margin-bottom: 8px;
}

/* section 3 */
.third-section {
    padding-top: 0;
}
.activity-field-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 72px;
    color: var(--dark);
}

.activity-field {
    display: flex;
}
.activity-field .item:not(:last-child) {
    margin-right: 24px;
}
/* section 4 */
.team {
    background-color: var(--light);
}
.team-heading {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 72px;
    color: var(--dark);
}

.team-list {
  display: flex;
}
.team-list .item:not(:last-child) {
    margin-right: 24px;
}
.employee {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
    color: var(--dark);
}

.position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0;
    margin-bottom: 8px;
    color: var(--text);
}
.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-media .link {
    display: flex;
    align-items: center;   
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: var(--primary-brand);
    fill: var(--light);
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.social-media .link:is(:hover,:focus) {
    background-color: var(--pressed-state);
    border-radius: 50px;
}
/* section 5 */
.customers-heading {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 72px;
    color: var(--dark);
}
.customers-icons {
    display: flex;
    gap: 24px;
}
.customers-icons .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 88px;
    border: 1px solid var(--subtle-text);
    border-radius: 4px;
    transition: border var(--transition-duration) var(--transition-timing-function);
}
.customers-icons .link:is(:hover,:focus) {
    border: 1px solid var(--pressed-state);
}
.customer-svg {
    fill: var(--subtle-text);
    transition: fill var(--transition-duration) var(--transition-timing-function);
}
.customers-icons .link:is(:hover,:focus) .customer-svg {
    fill: var(--pressed-state);
}
/* footer */
.footer {
    max-width: 2560px;
    padding: 100px 0;
    background-color: var(--dark);
}
.footer-container {
    display: flex;
}
.footer-studio {
    color: var(--light);
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    color: var(--accent);
}
.footer-webstudio {
    margin-right: 120px;
}
.footer-social {
    margin-right: auto;
}
.social-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 16px;
    color: var(--white)
}
.footer-social .list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.footer-social .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--light);
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.footer-social .link:is(:hover, :focus) {
    background-color: var(--success);
    border-radius: 50px;
}
.subscribe {
    min-width: 453px;
    max-height: 80px;
    margin-left: auto;
    position: relative;
}
.subscribe-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
}

.subscribe-input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 264px;
    height: 40px;
    margin-top: 0;
    padding: 8px 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.subscribe-button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 165px;
    margin-left: 24px;
    padding: 8px 24px;
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    border: none;
    background-color: var(--primary-brand);
    border-radius: 4px;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.send-icon {
    width: 24px;
    height: 24px;
    margin-left: 16px;
}

.subscribe-button:is(:hover, :focus) {
    background-color: var(--pressed-state);
}
/* main Portfolio */
.menu-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}
.menu-list .item:not(:last-child) {
    margin-right: 24px;
}
.menu-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: 1px solid var(--accent);
    border-radius: 4px; 
    padding: 12px 24px;
    color: var(--primary-brand);
    background-color: var(--light);
    transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), border var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}
.menu-button:is(:hover,:focus) {
    color: var(--white);
    background-color: var(--pressed-state);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.card {
    display: flex;
    flex-wrap: wrap;
}
.card .item {
    margin-right: 24px;
}
.card .item:nth-child(3n) {
    margin-right: 0;
}
.card .item:nth-child(-n+6) {
    margin-bottom: 48px;
}
.card-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 0;
    color: var(--dark);
    transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}
.card .item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-image {
    position: relative;
    overflow: hidden;
}
.caption {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand);
    background-blend-mode: soft-light;
    mix-blend-mode: normal;
    opacity: 0;
    transform: translateY(100%);
    transition: transform var(--transition-duration) var(--transition-timing-function);
}
.card .link:is(:hover,:focus) .caption {
    opacity: 1;
    transform: translateY(0);
}
.caption-text {
    padding-left: 32px;
    padding-top: 40px;
    padding-right: 32px;
    padding-bottom: 164px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;    
    color: var(--light);
} 
.type-of-service {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
    color: var(--text);
}
.card-text {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border-right: 1px solid var(--accent);
    border-left: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
}